:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
    --main-transition:.3s;
}


*{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    padding:0 ;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
.page{
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* start sidebar  */
.sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > h3{
    margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after{
    content: "";
    background-color: black;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
.sidebar > h3::before{
    width: 120px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after{
    bottom: -30px;
    width: 14px;
    height: 14px;
    border: 4px solid white;
    border-radius: 50%;
}
.sidebar ul li a{
    transition: var(--main-transition);
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f6f6f6;
}
.sidebar ul li a span{
    font-size: 14px;
    margin-left: 10px;
}
@media(max-width:767px){
    .sidebar{
        width: 62px;
        padding: 10px  ;
    }
    .sidebar > h3 {
        font-size: 12px;
        margin-bottom: 15px;
        margin-left: -8px;
    }
    .sidebar > h3::before,
    .sidebar > h3::after{
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}
/* end sidebar  */
/* start content head */
.content{
    overflow: hidden;
}
.content .head .search::before{
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.content .head .search input{
    border: 1px solid #eee;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.content .head .search input:focus{
    width: 200px;
}
.content .head .search input:focus::placeholder{
    opacity: 0;
}
.content .head .icons .notification::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    right: -5px;
    border-radius: 50%;
    top: -5px;
}
.content .head .icons img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.page h1{
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.page h1::before{
    background-color: white;
    width: 120px;
}
.page h1::after{
    background-color: black;
    width: 40px;
}
/* end content head */
/* start index  */
    /* start wrapper  */
    .wrapper{
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        margin-left: 20px;
        margin-right: 20px;
    }
    @media(max-width:767px){
        .wrapper{
            grid-template-columns: minmax(200px,1fr);
            margin-left: 10px;
            margin-right: 10px;
            gap: 10px;
        }
    }
        /* start welcome */
        .welcome{
            overflow: hidden;
        }
        .welcome .intro img{
            width: 200px;
            margin-bottom: -10px;
        }
        .welcome .avatar{
            width: 64px;
            height: 64px;
            border: 2px solid white;
            padding: 2px;
            border-radius: 50%;
            box-shadow: 0 0 5px #ddd;
            margin-left: 20px;
            margin-top: -32px;
        }
        .welcome .body{
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
        .welcome .body > div{
            flex: 1;
        }
        .welcome .visit{
            margin: 0 15px 15px auto;
            transition: var(--main-transition);
        }
        .welcome .visit:hover{
            background-color: var(--blue-alt-color);
        }
        @media(max-width:767px){
            .welcome .intro{
                padding-bottom: 30px;
            }
            .welcome .avatar{
                margin-left:0 ;
            }
            .welcome .body > div:not(:last-child){
                margin-bottom: 20px;
            }
        }
        /* end welcome */
        /* start quick draft */
        .quick-draft textarea{
            resize: none;
            min-height: 180px;
        }
        .quick-draft .save{
            margin-left: auto;
            transition: var(--main-transition);
            cursor: pointer;
        }
        .quick-draft .save:hover{
            background-color: var(--blue-alt-color);
        }
        /* end quick draft */
        /* start yearly target  */
        .target .target-row .icon {
            width: 80px;
            height: 80px;
            margin-right: 15px;
        }
        .target .details {
            flex: 1;
        }
        .target .details .progress {
            height: 4px;
        }
        .target .details .progress > span{
            position: absolute;
            left: 0;
            top: 0;
            height: 4px;
        }
        .target .details .progress > span span{
            position: absolute;
            bottom: 16px;
            right: -16px;
            color: white;
            padding: 2px 5px;
            font-size: 12px;
            border-radius: 6px;
        }
        .target .details .progress > span span::before{
            content: "";
            border-color: transparent;
            border-width: 5px;
            border-style: solid;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
        .target .details .progress > .blue span::before{
            border-top-color: var(--blue-color);
        }
        .target .details .progress > .green span::before{
            border-top-color: var(--green-color);
        }
        .target .details .progress > .orange span::before{
            border-top-color: var(--orange-color);
        }
        .blue .icon,
        .blue .progress{
            background-color: rgba(0, 119, 255, 0.2);
        }
        .orange .icon,
        .orange .progress{
            background-color: rgba(245, 159, 11, 0.2);
        }
        .green .icon,
        .green .progress{
            background-color: rgba(34, 197, 94, 0.2);
        }
        /* end yearly target  */
        /* start ticket */
        .tickets .box{
            border: 1px solid #ccc;
            width: calc(50% - 10px);
        }
        @media(max-width:767px){
            .tickets .box{
                width: 100%;
            }
        }
        /* end ticket */
        /* end ticket */
        /* start news  */
        .news .box:not(:last-of-type){
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }
        .news .box img {
            width: 100px;
            margin-right: 15px;
        }
        .news .box .info{
            flex-grow: 1;
        }
        .news .box .info h3{
            margin: 0 0 6px;
            font-size: 16px;
        }
        @media(max-width:767px){
            .news .box{
                display: block;
            }
            .news .box .label{
                margin: 10px auto;
                width: fit-content;
            }
        }
        /* end news  */
        /* start tasks  */
        .tasks .box{
            flex-direction: row-reverse;
        }
        .tasks .box:not(:last-of-type){
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;
        }
        .tasks .info{
            flex-grow: 1;
            transition: var(--main-transition);
        }
        .tasks .done{
            opacity: 0.3;
        }
        .tasks .done h3,
        .tasks .done p{
            text-decoration: line-through;
        }
        .tasks .delete{
            cursor: pointer;
            transition: var(--main-transition);
        }
        .tasks .delete:hover{
            color: var(--red-color);
        }
        .tasks .delete:hover + .info:not(.done1){
            opacity: .3;
        }
        .tasks .delete:hover + .info:not(.done1) h3,
        .tasks .delete:hover + .info:not(.done1) p{
            text-decoration: line-through;
        }
        /* end tasks  */
        /* start uploads  */
        .upload .box:not(:last-of-type){
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        .upload .box .info div span:first-of-type{
            margin-bottom: 3px;
        }
        .upload .box .info img{
            width: 40px;
            height: 40px;
        }
        /* end uploads  */
        /* start project progress  */
        .last-project ul::before{
            content: "";
            position: absolute;
            left: 11px;
            width: 2px;
            height: 100%;
            background-color: var(--blue-color);
        }
        .last-project ul li::before{
            content: "";
            width: 20px;
            height: 20px;
            display: block;
            background-color: white;
            border-radius: 50%;
            border: 2px solid white;
            outline: 2px solid var(--blue-color);
            margin-right: 15px;
            z-index: 1;
        }
        .last-project ul li.done::before{
            background-color: var(--blue-color);
        }
        .last-project ul li.current::before{
            animation: change-color 0.8s infinite alternate;
        }
        .last-project img{
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.1;
            width: 160px;
        }
        /* end project progress  */
        /* start reminder  */
        .reminder ul li .key{
            width: 15px;
            height: 15px;
        }
        .reminder ul li div{
            border-left: 2px solid;
        }
        .reminder ul li .blue{
            border-left-color: var(--blue-color);
        }
        .reminder ul li .green{
            border-left-color: var(--green-color);
        }
        .reminder ul li .orange{
            border-left-color: var(--orange-color);
        }
        .reminder ul li .red{
            border-left-color: var(--red-color);
        }
        /* end reminder  */
        /* start latest-post */
        .latest-post .top img{
            width: 48px;
            height: 48px;
        }
        .latest-post .post-content{
            text-transform: capitalize;
            line-height: 1.8;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            min-height: 140px;
        }
        /* end latest-post */
        /* start social media  */
        .social-media .box{
            padding-left: 70px;
        }
        .social-media .box i{
            position: absolute;
            top: 0;
            left: 0;
            width: 52px;
            transition: var(--main-transition);
        }
        .social-media .box i:hover{
            transform: rotate(5deg);
        }
        .social-media .twitter{
            background-color: rgb(29 161 242 / 20%);
            color: #1da1f2;
        }
        .social-media .twitter i,
        .social-media .twitter a{
            background-color: #1da1f2;
        }
        
        .social-media .facebook{
            background-color: rgb(24 119 242 / 20%);
            color: #1da1f2;   
        }
        .social-media .facebook i,
        .social-media .facebook a{
            background-color: #1877f2;
        }
        .social-media .youtube{
            background-color: rgb(255 0 0 / 20%);
            color: #ff0000;
        }
        .social-media .youtube i,
        .social-media .youtube a{
            background-color: #ff0000;
        }
        .social-media .linkedin{
            background-color: rgb(0 119 181 / 20%);
            color: #0077b5;
        }
        .social-media .linkedin i,
        .social-media .linkedin a{
            background-color: #0077b5;
        }
        /* end social media  */
    /* end wrapper  */
    /* start projects table  */
    .projects .responsive-table{
        overflow-x: auto;
    }
    .projects table {
        min-width: 1000px;
        border-spacing: 0;
    }
    .projects table thead td{
        background-color: #eee;
        font-weight: bold;
    }
    .projects table td{
        padding: 15px;
    }
    .projects table tbody td{
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        transition: var(--main-transition);
    }
    .projects table tbody tr td:last-child{
        border-right: 1px solid #eee;
    }
    .projects table tr:hover:not(.head) td{
        background-color: #faf7f7;
    }
    .projects table img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        padding: 2px;
        background-color: white;
        cursor: pointer;
    }
    .projects table img:not(:first-child){
        margin-left: -20px;
    }
    .projects table .label{
        font-size: 13px;
    }
    /* end projects table  */
/* end index  */
/* start settings */
    /* start site control */
    .setting-page{
        grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
        margin-right: 20px;
        margin-left: 20px;
    }
    @media (max-width: 767px){
        .setting-page {
            grid-template-columns: minmax(100px,1fr);
            margin-left: 10px;
            margin-right: 10px;
            gap: 10px;
        }
    }
    .setting-page .close-message{
        resize: none;
        min-height: 150px;
        border: solid 1px rgb(204, 204, 204);
    }
    /* end site control */
    /* start general info  */
    .general-info :disabled{
        cursor: no-drop;
        background-color: #f0f4f8;
        color: #bbb;
    }
    .general-info .email {
        display: inline-flex;
        width: calc(100% - 80px);
    }
    /* start general info  */
    /* start security info */
    .site-control .sec-box{
        padding-bottom: 15px;
    }
    .site-control .sec-box:not(:last-of-type){
        border-bottom: 1px solid #ccc;
    }
    .site-control .sec-box .button{
        transition: var(--main-transition);
    }
    .site-control .sec-box .button:hover{
        background-color: var(--blue-alt-color);
    }
    /* end security info */
    /* start social info  */
    .setting-page .site-social i{
        background-color:#f6f6f6 ;
        width: 40px;
        height: 40px;
        border: 1px solid#ddd;
        border-right: none;
        border-radius: 6px 0 0 6px;
        transition: var(--main-transition);
    }
    .setting-page .site-social input{
        height: 40px;
        background-color: #f6f6f6;
        border: 1px solid #ddd;
        padding-left: 10px;
        border-radius: 0 6px 6px 0;
    }
    .setting-page .site-social > div:focus-within i{
        color: black;
    }
    /* end social info  */
    /* start widget-control */
    .widget-control .control input[type="checkbox"]{
        -webkit-appearance: none;
        appearance: none;
    }
    .widget-control .control label {
        padding-left: 30px;
        cursor: pointer;
        position: relative;
    }
    .widget-control .control label::before,
    .widget-control .control label::after{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        border-radius: 3px;
    }
    .widget-control .control label::before {
        content: "";
        width: 14px;
        height: 14px;
        border: 2px solid var(--grey-color);
    }
    .widget-control .control label:hover::before{
        border-color: var(--blue-alt-color);
    }
    .widget-control .control label::after {
        font-family: "Font Awesome 6 Free";
        content: "\f00c";
        font-weight: 900;
        background-color: var(--blue-color);
        color: white;
        font-size: 12px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0) rotate(360deg);
        transition: var(--main-transition);
    }
    .widget-control .control input[type="checkbox"]:checked + label::after{
        transform: scale(1) rotate(0);
    }
    /* end widget-control */
    /* start backup-control */
    .backup-control  input[type="radio"]{
        -webkit-appearance: none;
        appearance: none;
    }
    .backup-control .date label{
        padding-left: 30px;
        cursor: pointer;
        position: relative;
    }
    .backup-control .date label::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -11px;
        width: 18px;
        height: 18px;
        border: 2px solid var(--grey-color);
        border-radius: 50%
    }
    .backup-control .date label::after{
        content: "";
        position: absolute;
        left: 5px;
        bottom: 3px;
        width: 12px;
        height: 12px;
        background-color: var(--blue-color);
        border-radius: 50%;
        transform: scale(0);
        transition: var(--main-transition);
    }
    .backup-control .date input[type="radio"]:checked + label::before{
        border-color: var(--blue-color);
    }
    .backup-control .date input[type="radio"]:checked + label::after{
        transform: scale(1);
    }
    .backup-control .servers{
        border-top: 1px solid #eee;
        padding-top: 20px;
    }
    @media(max-width:767px){
        .backup-control .servers{
        flex-wrap: wrap;
        }
    }
    .backup-control .servers .server{
        border: 2px solid #ccc;
        position: relative;
    }
    .backup-control .servers .server:not(:last-of-type){
        margin-right: 10px;
    }
    .backup-control .servers .server label{
        cursor: pointer;

    }
    .backup-control .servers input[type="radio"]:checked + .server{
        border-color: var(--blue-color);
        color:var(--blue-color);
    }
    /* end backup-control */






    .toogle-checkbox{
        -webkit-appearance: none;
        appearance: none;
        display: none;
    }
    .toogle-switch{
        background-color: #ccc;
        width: 78px;
        height: 32px;
        border-radius: 16px;
        position: relative;
        transition: var(--main-transition);
        cursor: pointer;
    }
    .toogle-switch::before{
        font-family: "Font Awesome 6 Free";
        content: "\f00d";
        font-weight: 900;
        background-color: white;
        width: 24px;
        height: 24px;
        position: absolute;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #aaa;
        transition: var(--main-transition)
    }
    .toogle-checkbox:checked + .toogle-switch{
        background-color: var(--blue-color);
    }
    .toogle-checkbox:checked + .toogle-switch::before{
        content: "\f00c";
        left: 50px;
        color: var(--blue-color);
    }
/* end settings */
/* start profile */
    /* start .overview  */
    @media(max-width:767px){
        .profile-page .overview{
            flex-direction: column;
        }
    }
    .profile-page .overview .avatar-box{
        text-align: center;
        padding: 20px;
    }
    @media(min-width:768px){
        .profile-page .overview .avatar-box{
            width: 300px;
            border-right: 1px solid #eee;
        }
    }
    .profile-page .overview .avatar-box > img{
        width: 120px;
        height: 120px;
    }
    .profile-page .overview .avatar-box .level{
        height: 6px;
        overflow: hidden;
        margin: auto;
        width: 70%;
    }
    .profile-page .overview .avatar-box .level span{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: var(--blue-color);
        border-radius: 6px;
    }
    .profile-page .overview .info-box h4{
        font-weight: normal;
    }
    .profile-page .overview .info-box .box{
        flex-wrap: wrap;
        border-bottom: 1px solid #eee;
        transition: var(--main-transition);
    }
    .profile-page .overview .info-box .box:hover{
        background-color: #f6f6f6;
    }
    .profile-page .overview .info-box .box > div{
        min-width: 250px;
        padding: 10px 0 0;
    }
    /* end .overview  */
    /* start other date */
    @media(max-width:767px){
        .profile-page .other-date{
            flex-direction: column;
        }
    }
    .profile-page .other-date .skills-card{
        flex-grow: 1;
    }
    .profile-page .other-date .skills-card ul li{
        padding: 15px 0;
    }
    .profile-page .other-date .skills-card ul li:not(:last-child){
        border-bottom: 1px solid #eee;
    }
    .profile-page .other-date .skills-card ul li span{
        display: inline-flex;
        padding: 4px 10px;
        background-color: #eee;
        border-radius: 6px;
        font-size: 14px;
    }
    .profile-page .other-date .skills-card ul li span:not(:last-child){
        margin-right: 5px;
    }
    .profile-page .other-date .activitis{
        flex-grow: 2;
    }
    .profile-page .other-date .activitis .activity:not(:last-of-type){
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .profile-page .other-date .activitis .activity img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 10px;
    }
    @media(max-width:767px){
        .profile-page .other-date .activitis .activity{
            flex-direction: column;
        }
        .profile-page .other-date .activitis .activity img{
            margin-right: 0;
            margin-bottom: 15px;
        }
        .profile-page .other-date .activitis .date{
            margin-top: 15px;
        }
    }
    @media(min-width:768px){
        .profile-page .other-date .activitis .activity .date{
            margin-left: auto;
            text-align: right;
        }
    }
    /* end other date */
    /* start training code  */
    .profile-page .info-box .toogle-switch {
        height: 20px;
    }
    .profile-page .info-box .toogle-checkbox:checked + .toogle-switch::before {
        left: 62px;
    }
    .profile-page .info-box .toogle-switch::before {
        width: 12px;
        height: 12px;
        font-size: 8px;
    }
    @media (max-width: 767px){
        .profile-page .info-box .toogle-switch {
            margin: auto;
        }
    }
    /* end training code  */
/* end profile */
/* start project  */
    .projects-page{
        grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    }
    @media(max-width:767px){
        .projects-page{
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            margin-right: 10px;
            margin-left: 10px;
            gap: 10px;
        }
    }
    .projects-page .project .date{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .projects-page .project h4{
        font-weight: normal;
    }
    .projects-page .project .team{
        position: relative;
        min-height: 80px;
    }
    .projects-page .project .team a{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .projects-page .project .team a:nth-child(2){
        left: 25px;
    }
    .projects-page .project .team a:nth-child(3){
        left: 50px;
    }
    .projects-page .project .team a:nth-child(4){
        left: 75px;
    }
    .projects-page .project .team a:nth-child(5){
        left: 100px;
    }
    .projects-page .project .team a:hover{
        z-index: 10;
    }
    .projects-page .project .team a img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .projects-page .project .do{
        justify-content: flex-end;
        border-top: 1px solid #eee;
        padding-top: 15px;
        margin-top: 15px;
    }
    @media(max-width:767px){
        .projects-page .project .do {
            flex-direction: column;
        }
    }
    .projects-page .project .do span{
        padding: 3px 8px;
        margin-left: 5px;
        width: fit-content;
    }
    @media(max-width:767px){
        .projects-page .project .do span:not(:last-of-type){
            margin-bottom: 15px;
        }
    }
    .projects-page .project .info{
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 15px;
    }
    @media(max-width:767px){
        .projects-page .project .info{
            flex-direction: column;
        }
    }
    .projects-page .project .info .prog{
        width:260px ;
        height: 8px;
        position: relative;
        border-radius: 6px;
    }
    @media(max-width:767px){
        .projects-page .project .info .prog{
            margin-bottom: 15px;
        }
    }
    .projects-page .project .info .prog span{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 6px;
    }
/* start courses-page  */
    .courses-page{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
    @media(max-width:767px){
        .courses-page{
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            gap: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .courses-page .course{
        overflow: hidden;
    }
    .courses-page .course .cover{
        max-width: 100%;
    }
    .courses-page .course .instructor{
        position: absolute;
        width: 64px;
        border-radius: 50%;
        left: 20px;
        top: 20px;
        border: 2px solid white;
    }
    .courses-page .course div .description{
        line-height: 1.7;
    }
    .courses-page .course .info{
        border-top: 1px solid #eee;
        font-size: 13px;
    }
    .courses-page .course .info .title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -11px;
        font-size: 13px;
        cursor: pointer;
        transition: var(--main-transition);
    }
    .courses-page .course .info .title:hover{
        background-color: var(--blue-alt-color);
    }
/* end courses-page  */
/* start freinds-page */
    .freinds-page{
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
    @media(max-width:767px){
        .freinds-page{
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            gap: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .freinds-page .freind-box .contact{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .freinds-page .freind-box .contact i{
        padding: 10px;
        border-radius: 50%;
        background-color: #eee;
        color: #666;
        font-size: 13px;
        cursor: pointer;
        transition: var(--main-transition);
    }
    .freinds-page .freind-box .contact i:hover{
        background-color: var(--blue-color);
        color: white;
    }
    .freinds-page .freind-box .icons{
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .freinds-page .freind-box .icons .vip{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 40px;
        opacity: .2;
    }
/* end freinds-page */
/* start files-page */
    .files-page{
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    @media(max-width:767px){
        .files-page{
            flex-direction: column;
            align-items: normal;
        }
    }
    .files-page .files-stats{
        min-width: 260px;
    }
    .files-page .files-stats .icon{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    .files-page .files-stats .size{
        margin-left: auto;
    }
    .files-page .files-stats .blue{
        background-color: rgba(0, 117, 255, 0.2);
    }
    .files-page .files-stats .green{
        background-color: rgba(34, 197, 94, 0.2);
    }
    .files-page .files-stats .red{
        background-color: rgba(244, 67, 54, 0.2);
    }
    .files-page .files-stats .orange{
        background-color: rgba(245, 158, 11, 0.2);
    }
    .files-page .files-stats .upload{
        margin: 15px auto 0;
        padding: 10px 15px;
        transition: var(--main-transition);
    }
    .files-page .files-stats .upload:hover{
        background-color: var(--blue-alt-color);
    }
    .files-page .files-stats .upload:hover i{
        animation: go-up 0.8s infinite;
    }
    .files-page .files-content {
        flex: 1;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
    .files-page .files-content img{
        width: 64px;
        height: 64px;
        transition: var(--main-transition);
    }
    .files-page .files-content .file:hover img{
        transform: rotate(5deg);
    }
    .files-page .files-content .info{
        border-top: 1px solid #eee;
    }
/* end files-page */
/* start plans page  */
    .plans-page {
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    }
    @media(max-width:767px){
        .plans-page{
            grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
            gap: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .plans-page .plan .top {
        border: 3px solid white;
        outline: 3px solid transparent;
    }
    .plans-page .plan.green .top {
        outline-color: var(--green-color);
    }
    .plans-page .plan.blue .top {
        outline-color: var(--blue-color);
    }
    .plans-page .plan.orange .top {
        outline-color: var(--orange-color);
    }
    .plans-page .plan .top .price{
        position: relative;
        font-size: 40px;
        width: fit-content;
        margin: auto;
    }
    .plans-page .plan .top .price span{
        position: absolute;
        left: -20px;
        top: 0;
        font-size: 25px;
    }
    .plans-page .plan ul li{
        padding: 15px 0;
        display: flex;
        align-items: center;
        font-size: 15px;
        border-bottom: 1px solid #eee;
    }
    .plans-page .plan ul li .yes{
        color: var(--green-color);
    }
    .plans-page .plan ul li i:not(.yes, .help){
        color: var(--red-color);
    }
    .plans-page .plan ul li i:first-child{
        font-size: 18px;
        margin-right: 5px;
    }
    .plans-page .plan ul li i.help{
        color: var(--grey-color);
        margin-left: auto;
        cursor: pointer;
    }
    /* end plans page  */
/* end project  */
/* start animation  */
@keyframes change-color {
    from{
        background-color: var(--blue-color);
    }
    to{
        background-color: white;
    }
}
@keyframes go-up{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
}
/* end animation  */